:root{
    --CreamColor: #F8E9DD;
    --Cyan: #76B5BC;
    --Red: #EC755D;
    --CardWhite: #F2F2F2;
    --MediumBrown: #92857A;
}

* {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
}

.App{
    height: 100vh;
    background-color: var(--CreamColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#graph {
    width:40%;
    height: auto;
    min-width: 375px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 25px;
    font-weight: 700;
}