.graph-header {
    display: flex;
    background-color: var(--Red);
    width: 100%;
    justify-content: space-between;
    border-radius: 20px;
    height: 75px;
    color: #FFFFFF;
}



.balance > p {
    font-weight: 700;
}

.vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.balance {
    margin-left: 32px;
}

/* Graph Body */

.graph-body {
    background: var(--CardWhite);
    margin-top: 24px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border-radius: 20px;
}

.monthly-report {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description-text {
    color:var(--MediumBrown);
    font-weight: 400;
    font-size: 15px;
}

.month-total {
    font-weight: 700;
    font-size: 32px;
}

.month-pct {
    font-weight: 700;
}
.month-compare {
    text-align: end;
}

.bar-chart {
    width: 100%;
    height: 100%;
}